
@{
    ViewData["Title"] = "Pricing Plan";
}

<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Pricing</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Pricing</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start pricing-section -->
<section class="policy-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Our best plans</span>
                    <h2>Insurance plan for every goal in life</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="policy-grids">
                    <div class="grid">
                        <div class="policy-header">
                            <h5>Family Protection</h5>
                            <i class="fi flaticon-umbrella"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="hilight-tag">Most Popular</div>
                        <div class="policy-header">
                            <h5>Health Protection</h5>
                            <i class="fi flaticon-umbrella-1"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="policy-header">
                            <h5>Check Suitability</h5>
                            <i class="fi flaticon-insurance"></i>
                        </div>
                        <div class="policy-body">
                            <ul>
                                <li>Fxed for entire policy term</li>
                                <li>De Will be transferred </li>
                                <li>Documents for verification</li>
                                <li>Entire policy term</li>
                            </ul>
                            <a href="#" class="theme-btn-s3">Select The Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end policy-section -->
