
@{
    ViewData["Title"] = "Team";
}

<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Agents</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Agents</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start agents-section -->
<section class="agents-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="agents-area-with-title">
                    <div class="agents-grids clearfix">
                        <div class="grid">
                            <div class="section-title">
                                <span>Agents</span>
                                <h2>Our Agents</h2>
                            </div>
                            <div class="info">
                                <h3>88123475754</h3>
                                <h4>demo@example.com</h4>
                                <a href="#" class="theme-btn">More About Us</a>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-1.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-2.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-3.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-4.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-5.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-6.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="img-holder">
                                <img src="~/assets/images/agents/img-7.jpg" alt>
                            </div>
                            <div class="agent-info">
                                <h4>Michel Jhon</h4>
                                <p>Marketing Expert</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end agents-section -->
